/* Applies the background image to the entire body */

@font-face {
    font-family: "Itim";
    src: url('../main page/resources/Itim/Itim-Regular.ttf');
}
.icon {
    position: absolute; /* Position relative to the viewport */
    top: 1vh; /* Distance from the top of the viewport */
    left: 3.5vh; /* Distance from the left of the viewport */
    width: 10vh; /* Width relative to the viewport width */
    height: auto; /* Height relative to the viewport height */
    z-index: 1000;
}

.pannel_icon{
    width: 6.5vh; /* Responsive size based on viewport width */
    height: auto; /* Maintain aspect ratio */
    transform: translateX(-2vh);
}
.content {
    position: relative; /* Allows positioning of child elements */
    display: flex;
   
    flex-direction: column; /* Stack logo and slogan vertically */
    align-items: center; /* Center items horizontally */
}
/* Style for the sidebar container */
.side-bar {
    position: fixed; /* Keep it fixed on the screen */
    top: 0;
    left: 0;
    width: 10vh; /* Width of the sidebar */
    height: 100vh; /* Full viewport height */
    background:rgba(16, 14, 14, 0.77); /* Background color */
    transition: transform 0.3s ease; /* Smooth transition */
    overflow: hidden; /* Hide overflow content */
    border-radius: 0.8rem;
}

.side-bar ul {
    padding: 0;
    list-style: none;
    margin-top: 20px; /* Adjust to fit your design */
    transition: opacity 0.3s ease; /* Smooth appearance */
}


.side-bar li {
    display: flex; /* Use flexbox for list items */
    align-items: center; /* Vertically center icon and text */
    padding: 0%;
    transform:translate(-7vh,15vh);
    margin-bottom: 5vh;
    margin-top: 2.5vh;
}

.pannel-icon {
    margin-left: 10vh;
    width: 4vh; /* Fixed width for consistency */
    height: 4vh; /* Fixed height for consistency */
    margin-right: 6vh; /* Space between icon and text */
    margin-bottom: 1.5vh;
}

.nav-item {
    font-size: 1.4rem; /* Adjust font size if needed */
    margin-right: 2vh;
    position: absolute;
    margin-bottom: -1.2vh;
}
.side-bar ul li a {
    text-decoration: none;
    color:white;
    border-radius: 0.8rem;
    font-family: "Itim";
}
.side-bar.active {
    width: 34vh;
    
}
.side-bar ul li.active {
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.side-bar ul li  :hover{
    color: rgba(155, 162, 226, 1);
}
.side-bar ul li .log-out{
   margin-bottom: -20vh;
}
.active{
    color: white;
}